/*****************************************
*****************POKEMON*****************
*****************************************/
@font-face {
font-family: "Pokemon Solid";
src: url(fonts/pokemon_solid.ttf);
}
body.franchise_75 {
background-image: url('images/gameseries/pokemonbkg.jpeg');
}
.franchise_75 #logo {
background-image: url('images/gameseries/pokemonlogo.png');
background-position: center;
background-size: 90em;
}
.franchise_75 .global_buffs {
left: auto;
right: 10px;
}
.franchise_75 #menu {
font-family: "Pokemon Solid";
font-size: 1.3em;
font-weight: normal;
background: rgba(130, 177, 246, .18);
}
.franchise_75 #menu ul {
max-width: 1000px;
margin-top: -14px;
}
.franchise_75 #menu ul a {
color: #ffe900 !important;
padding: 0px 20px
}
.franchise_75 #menu ul a:hover {
color: #ff424f !important;
}
.franchise_75 .alertbar a {
color: #fff;
text-shadow: 1px 1px 2px #760f0f
}
.franchise_75 #userinfo {
background: rgba(130, 177, 246, .28);
}
.franchise_75 #userinfo #userinfo_username .donateico {
margin-top: 13px;
margin-left: 5px;
display: inline-block;
}
.franchise_75 #userinfo #userinfo_username .donateico a {
font-family: "Pokemon Solid";
text-transform: uppercase;
color: #ff424f;
font-size: 1.3em;
text-shadow: 1px 1px 2px #000
}
.franchise_75 #userinfo #userinfo_username .donateico a:hover {
color: #ffe900;
}
.franchise_75 .donateico span {
top: -3px;
color: #ff424f;
}